@font-face {
    font-family: Nimbus;
    src: url('./Nimbus.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('./Nunito.ttf');
}

@media only screen and (min-device-width:769px) {

    $mainHeight:730px;
    #mainDiv{
        width: 100%;
        min-height: 1500px;
        #topMainBox{
            width: 90%;
            height: 500px;
            background: rgb(241, 241, 241);
            margin-left: 5%;
            border-radius: 30px;
            #topMainImage{
                width: 400px;
                height: 400px;
                position: absolute;
                margin: 50px 270px;
            }
            #topMainDescription{
                position: absolute;
                width: 400px;
                height: 400px;
                margin-top: 50px;
                margin-left: 750px;
    
                h1{
                    font-family: Nimbus;
                    font-size: 50px;
                    margin-top: 30px;
                }
                p{
                    font-family: Nunito;
                    margin-top: 50px;
                    font-size: 18px;
                    height: 60px;
                }

            }
            .Arrow{
                position: absolute;
                margin-top: 200px;
                padding: 24px 30px;
                font-size: 35px;
                margin-left: 4%;
                color: white;
                background: rgb(206, 206, 206);
                border-radius: 50%;
            }
            .Arrow:hover{
                background: rgb(187, 187, 187);
                transition: 0.1s;
            }
            .rightArrow{
                direction: rtl;
                right: 9%;
    
            }
            #pager{
                margin-left: 100px;
                display: inline-block;
                margin-top: 400px;
                .pages{
                    background: rgb(153, 153, 153);
                    width: 8px;
                    height: 8px;
                    margin-left: 10px;
                    display: inline-block;
                    border-radius: 50%;
                    cursor: pointer;
                }
                .selectedPage{
                    background: rgb(0, 162, 255);
                    box-shadow: 0 0 6px rgb(0, 162, 255);
                }
            }
            a{
                font-family: Nunito;
                border-width: 2px;
                border-style: solid;
                display: inline-block;
                margin-top: 50px;
                padding: 20px 32px;
                border-radius: 15px;
                color: rgb(0, 162, 255);
                font-size: 20px;
                margin-left: 750px;
            }
            a:hover{
                color: rgb(0, 138, 218);
                cursor: pointer;
            }
        }
        #bottomLeftMainDiv{
            width: 300px;
            height: 300px;
            background: rgb(241, 241, 241);
            margin-left: 5%;
            margin-top: 50px;
            margin-bottom: 100px;
            border-radius: 30px;
            font-family: Nunito;
            position: absolute;
    
            h1{
                width: 100%;
                text-align: center;
                padding: 15px 0px;
                border-bottom-style: solid ;
                border-bottom-color: rgb(197, 197, 197) ;
                border-bottom-width: 1px;
                font-size: 24px;
                font-family: Nimbus;
            }
    
            .range-input{
                position: relative;
                margin-top: 25px;
                div{
                    height: 2px;
                    width: 80%;
                    background: rgb(122, 122, 122);
                    position: absolute;
                    top: 18px;
                    margin-left: 10%;
                }
                input{
                    position: absolute;
                    width: 80%;
                    height: 5px;
                    top: 15px;
                    background: none;
                    margin-left: 10%;
                    pointer-events: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                }
                input[type="range"]::-webkit-slider-thumb{
                    height: 17px;
                    width: 17px;
                    border: none;
                    border-radius: 50%;
                    background: white;
                    border-style: solid;
                    border-width: 2px;
                    border-color: #17A2B8;
                    pointer-events: auto;
                    -moz-appearance: none;
                    box-shadow: 0 0 6px rgba(94, 94, 94, 0.35);
                }
                input[type="range"]::-moz-range-thumb{
                    height: 17px;
                    width: 17px;
                    border: none;
                    border-radius: 50%;
                    background: white;
                    border-style: solid;
                    border-width: 2px;
                    border-color: #17A2B8;
                    pointer-events: auto;
                    -moz-appearance: none;
                    box-shadow: 0 0 6px rgba(94, 94, 94, 0.35);
                }
            }
               
    
            .setPriceDiv{
                display: inline-block;
                margin-left: 9%;
                margin-top: 55px;
                width: 22%;
                p{
                    font-size: 16px;
                }
                div{
                    padding: 10px 0px;
                    border-width: 2px;
                    border-style: solid;
                    border-color: rgb(163, 163, 163);
                    color: rgb(92, 92, 92);
                    border-radius: 10px;
                    margin-top: 10px;
                    font-size: 16px;
                    text-align: center;
                }
            }
            #seprator{
                display: inline-block;
                width: 20%;
                height: 2px;
                background: rgb(175, 175, 175);
                margin-left: 10%;
            }
            #MaxDiv{
                margin-left: 10%;
            }
            button{
                width: 84%;
                margin-left: 9%;
                border-style: none;
                margin-top: 20px;
                background: rgb(0, 162, 255);
                padding: 12px;
                border-radius: 15px;
                font-size: 20px;
                color: white;
                cursor: pointer;
            }
            button:hover{
                background:rgb(0, 138, 218);
                transition: 0.2s;
            }
        }
    
        #leftCheckboxDiv{
            width: 300px;
            height: 300px;
            background: rgb(241, 241, 241);
            margin-left: 5%;
            margin-top: 50px;
            margin-bottom: 100px;
            border-radius: 30px;
            font-family: Nunito;
            position: absolute;
            margin-top: 450px;
            h1{
                width: 100%;
                text-align: center;
                padding: 15px 0px;
                border-bottom-style: solid ;
                border-bottom-color: rgb(197, 197, 197) ;
                border-bottom-width: 1px;
                font-size: 24px;
                font-family: Nimbus;
            }
            div{
                input{
                    width: 20px;
                    height: 20px;
                    border-radius: 25px;
                    cursor: pointer;
                    top: 2px;
                    margin-left: 20px;
                    margin-top: 20px;
                    display: inline-block;
    
                }
                label{
                    margin-left: 15px;
                    display: inline-block;
                    width: 80%;
                    p{
                        display: inline-block;
                        float: right;
                        margin-right: 30px;
                        background: rgb(0, 162, 255);
                        padding: 5px 10px;
                        margin-top: -8px;
                        border-radius: 20px;
                        color: white;
                    }
                }
            }
        }
    
        #leftRatingDiv{
            width: 300px;
            height: 250px;
            background: rgb(241, 241, 241);
            margin-left: 5%;
            margin-top: 50px;
            margin-bottom: 100px;
            border-radius: 30px;
            font-family: Nunito;
            position: absolute;
            margin-top: 850px;
            h1{
                width: 100%;
                text-align: center;
                padding: 15px 0px;
                border-bottom-style: solid ;
                border-bottom-color: rgb(197, 197, 197) ;
                border-bottom-width: 1px;
                font-size: 24px;
                font-family: Nimbus;
            }
            .rateStars{
                display: block;
                input{
                    width: 20px;
                    height: 20px;
                    border-radius: 25px;
                    cursor: pointer;
                    top: 2px;
                    margin-left: 20px;
                    margin-top: 20px;
                    display: inline-block;
                }
                label{
                    margin-left: 15px;
                    display: inline-block;
                    width: 80%;
                    span{
                        margin-left: 4px;
                        font-size: 20px;
                        color: rgb(148, 209, 245);
                    }
                    .checked{
                        color: rgb(0, 162, 255);
                    }
                }
            }
        }

        #Mobile{
            position: relative;
            width: 1005px;
            left: 500px;
            top: 50px;
            min-height: 1000px;
            #sortBox{
                width: 90%;
                height: 50px;
                div{
                    display: inline-block;
                }
                i{
                    margin-top: 10px;
                }  
                p{
                    display: inline-block;
                    margin-left: 30px;
                    font-weight: bold;
                }    
                .option{
                    font-weight: 100;
                    color: rgb(82, 82, 82);
                    cursor: pointer;
                } 
                #priceNumber{
                    font-weight: 100;
                    color: rgb(82, 82, 82);
                    float: right;
                    margin-top: 10px;
                    position: relative;
                }   
                .selected{
                    color: rgb(0, 127, 201);
                }    
                .JM{
                    display: none;
                }  
            }
            .mobileBox{
                width: 30%;
                height: 400px;
                margin-left:1PX;
                display: inline-block;
                margin-top: 1px;
                box-shadow: 0 0 1px 1px rgba(116, 116, 116, 0.2);
                .mobileImage{
                    width: 50%;
                    height: 300px;
                    margin-left: 25%;
                    margin-top: 25px;
                }
                .mobileTitle{
                    font-family: Nunito;
                    margin-top: 10px;
                    color: black;
                    font-size: 15px;
                    margin-left: 20px;
                }
                .mobilePrice{
                    position: absolute;
                    margin-left: 230px;
                    font-family: nunito;
                    font-weight:500;
                    color: black;
                    font-size: 15px;
                }
                span{
                    color: rgb(255, 217, 0);
                    position: absolute;
                    margin-top: -320px;
                    margin-left: 20px;
                    p{
                        display: inline-block;
                        color: black;
                        font-family: Nunito;
                    }
                }
                .archive{
                    position: absolute;
                    margin-left: 20px;
                    i{
                        font-size: 12px;
                        color: rgb(0, 0, 158);

                    }
                    p{ 
                        display: inline-block;
                        color: blue;
                        font-family: Nunito;
                        margin-left: 5px;
                        font-size: 13px;
                    }
                }
            }
            .mobileBox:hover{
                box-shadow: 0 0 5px 5px rgba(116, 116, 116, 0.2);
                transition: 0.2s;
            }
        }
    }    
    .JP{
        display: none;
    }
}

@media only screen and (max-device-width:768px) {
    $mainHeight:730px;
    #mainDiv{
        width: 100%;
        min-width: 0px;
        background: rgb(238, 238, 238);
        #topMainBox{
            width: 100%;
            margin-top: 10px;
            background: white;
            #topMainImage{
                width: 90%;
                margin-left: 5%;
                top: 240px;
            }
            #topMainDescription{
                width: 90%;
                margin-left: 5%;
    
                h1{
                    font-family: Nimbus;
                    font-size: 40px;
                    margin-top: 30px;
                    font-weight: bolder;
                }
                p{
                    font-family: Nunito;
                    margin-top: 30px;
                    font-size: 16px;
                    height: 60px;
                    display: inline-block;
                }

            }
            .Arrow{display: none;}
            #pager{
                display: inline-block;
                float: right;
                margin-right: 5%;
                margin-top: 20px;
                .pages{
                    background: rgb(153, 153, 153);
                    width: 8px;
                    height: 8px;
                    margin-left: 10px;
                    display: inline-block;
                    border-radius: 50%;
                    cursor: pointer;
                }
                .selectedPage{
                    background: rgb(0, 162, 255);
                    box-shadow: 0 0 6px rgb(0, 162, 255);
                }
            }
            a{
                font-family: Nunito;
                display: inline-block;
                padding: 10px 16px;
                border-radius:10px;
                background-color: rgb(0, 162, 255);
                font-size: 20px;
                color: white;
                box-shadow: 0 0 8px rgb(0, 162, 255,0.4);
                max-width: 30%;
                margin-left: 5%;   
                margin-bottom: 30px;             
            }
            a:hover{
                background-color: rgb(0, 138, 218);
                cursor: pointer;
            }
        }
        #bottomLeftMainDiv{
        display: none;
        width: 300px;
            height: 300px;
            background: rgb(241, 241, 241);
            margin-left: 5%;
            margin-top: 50px;
            margin-bottom: 100px;
            border-radius: 30px;
            font-family: Nunito;
            position: absolute;
    
            h1{
                width: 100%;
                text-align: center;
                padding: 15px 0px;
                border-bottom-style: solid ;
                border-bottom-color: rgb(197, 197, 197) ;
                border-bottom-width: 1px;
                font-size: 24px;
                font-family: Nimbus;
            }
    
            .range-input{
                position: relative;
                margin-top: 25px;
                div{
                    height: 2px;
                    width: 80%;
                    background: rgb(122, 122, 122);
                    position: absolute;
                    top: 18px;
                    margin-left: 10%;
                }
                input{
                    position: absolute;
                    width: 80%;
                    height: 5px;
                    top: 15px;
                    background: none;
                    margin-left: 10%;
                    pointer-events: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                }
                input[type="range"]::-webkit-slider-thumb{
                    height: 17px;
                    width: 17px;
                    border: none;
                    border-radius: 50%;
                    background: white;
                    border-style: solid;
                    border-width: 2px;
                    border-color: #17A2B8;
                    pointer-events: auto;
                    -moz-appearance: none;
                    box-shadow: 0 0 6px rgba(94, 94, 94, 0.35);
                }
                input[type="range"]::-moz-range-thumb{
                    height: 17px;
                    width: 17px;
                    border: none;
                    border-radius: 50%;
                    background: white;
                    border-style: solid;
                    border-width: 2px;
                    border-color: #17A2B8;
                    pointer-events: auto;
                    -moz-appearance: none;
                    box-shadow: 0 0 6px rgba(94, 94, 94, 0.35);
                }
            }
               
    
            .setPriceDiv{
                display: inline-block;
                margin-left: 9%;
                margin-top: 55px;
                width: 22%;
                p{
                    font-size: 16px;
                }
                div{
                    padding: 10px 0px;
                    border-width: 2px;
                    border-style: solid;
                    border-color: rgb(163, 163, 163);
                    color: rgb(92, 92, 92);
                    border-radius: 10px;
                    margin-top: 10px;
                    font-size: 16px;
                    text-align: center;
                }
            }
            #seprator{
                display: inline-block;
                width: 20%;
                height: 2px;
                background: rgb(175, 175, 175);
                margin-left: 10%;
            }
            #MaxDiv{
                margin-left: 10%;
            }
            button{
                width: 84%;
                margin-left: 9%;
                border-style: none;
                margin-top: 20px;
                background: rgb(0, 162, 255);
                padding: 12px;
                border-radius: 15px;
                font-size: 20px;
                color: white;
                cursor: pointer;
            }
            button:hover{
                background:rgb(0, 138, 218);
                transition: 0.2s;
            }
        }
    
        #leftCheckboxDiv{
            width: 300px;
            display: none;
            height: 300px;
            background: rgb(241, 241, 241);
            margin-left: 5%;
            margin-top: 50px;
            margin-bottom: 100px;
            border-radius: 30px;
            font-family: Nunito;
            position: absolute;
            margin-top: 450px;
            h1{
                width: 100%;
                text-align: center;
                padding: 15px 0px;
                border-bottom-style: solid ;
                border-bottom-color: rgb(197, 197, 197) ;
                border-bottom-width: 1px;
                font-size: 24px;
                font-family: Nimbus;
            }
            div{
                input{
                    width: 20px;
                    height: 20px;
                    border-radius: 25px;
                    cursor: pointer;
                    top: 2px;
                    margin-left: 20px;
                    margin-top: 20px;
                    display: inline-block;
    
                }
                label{
                    margin-left: 15px;
                    display: inline-block;
                    width: 80%;
                    p{
                        display: inline-block;
                        float: right;
                        margin-right: 30px;
                        background: rgb(0, 162, 255);
                        padding: 5px 10px;
                        margin-top: -8px;
                        border-radius: 20px;
                        color: white;
                    }
                }
            }
        }
    
        #leftRatingDiv{
        display: none;
        width: 300px;
            height: 250px;
            background: rgb(241, 241, 241);
            margin-left: 5%;
            margin-top: 50px;
            margin-bottom: 100px;
            border-radius: 30px;
            font-family: Nunito;
            position: absolute;
            margin-top: 850px;
            h1{
                width: 100%;
                text-align: center;
                padding: 15px 0px;
                border-bottom-style: solid ;
                border-bottom-color: rgb(197, 197, 197) ;
                border-bottom-width: 1px;
                font-size: 24px;
                font-family: Nimbus;
            }
            .rateStars{
                display: block;
                input{
                    width: 20px;
                    height: 20px;
                    border-radius: 25px;
                    cursor: pointer;
                    top: 2px;
                    margin-left: 20px;
                    margin-top: 20px;
                    display: inline-block;
                }
                label{
                    margin-left: 15px;
                    display: inline-block;
                    width: 80%;
                    span{
                        margin-left: 4px;
                        font-size: 20px;
                        color: rgb(148, 209, 245);
                    }
                    .checked{
                        color: rgb(0, 162, 255);
                    }
                }
            }
        }
        
        #Mobile{
            position: relative;
            width: 100%;
            top: 10px;
            background: white;
            box-shadow: 0 0 3px rgb(204, 204, 204);
            #sortBox{
                margin-left: 5%;
                width: 90%;
                padding-bottom: 15px;
                border-bottom-style: solid;
                border-color: black;
                border-width: 1px;
                i{
                    margin-top: 20px;
                    display: inline-block;
                    font-size: 25px;

                }
               
                #showSortTop{
                    display: inline-block;
                    font-size: 20px;
                    margin-left: 20px;
                }
            }
            
            .mobileBox{
                width: 90%;
                margin-left: 5%;
                display: inline-block;
                border-bottom-width: 3px;
                border-color: rgb(238, 238, 238);
                border-style: solid;
                .mobileImage{
                    margin-left: 2%;
                    width: 25%;
                    margin-top: 10px;
                    display: inline-block;
                }
                #mobileRightBox{
                    display: inline-block;
                    position: absolute;
                    width: 60%;
                    margin-left: 5%;
                    margin-top: 20px;
                    .mobileTitle{
                        font-family: Nunito;
                        text-align: center;
                        color: black;
                        font-size: 30px;
                        text-align: left;
                        font-weight: bolder;
                        max-width: 100%;
                        display: inline-block;
                        margin-top: 30px;
                    }
                    .mobilePrice{
                        font-family: nunito;
                        font-weight: bold;
                        color: black;
                        font-size: 22px;
                        margin-top: 40px;
                    }
                    span{
                        color: rgb(255, 217, 0);
                        margin-top: 40px;
                        p{
                            display: inline-block;
                            color: black;
                            font-family: Nunito;
                        }
                    }
                    .archive{
                        margin-top: 40px;
                        i{
                            color: #17A2B8;
                        }
                        p{ 
                            display: inline-block;
                            color: black;
                            font-family: Nunito;
                            margin-left: 10px;
                        }
                    }
                }

            }
        }
        #MMenu{
            $radius:10px;
            #mobileMenu{
                width: 60%;
                height: 100%;
                background: rgb(214, 214, 214);
                position: fixed;
                top: 0px;
                margin-left: 40%;
                overflow-y: scroll;

                .closeMenu{
                    z-index: 10;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    margin-left: 5%;
                    margin-top: 15px;
                    i{
                        color: rgb(59, 59, 59);
                        font-size: 20px;
                    }
                }

                #bottomLeftMainDiv{
                    display: block;
                    width: 220px;
                    height: 220px;
                    background: rgb(241, 241, 241);
                    margin-left: 5%;
                    margin-top: 20px;
                    border-radius: $radius;
                    font-family: Nunito;
                    position: absolute;
            
                    h1{
                        width: 100%;
                        text-align: center;
                        padding: 10px 0px;
                        border-bottom-style: solid ;
                        border-bottom-color: rgb(197, 197, 197) ;
                        border-bottom-width: 1px;
                        font-size: 18px;
                        font-family: Nimbus;
                    }
            
                    .range-input{
                        position: relative;
                        margin-top: 5px;
                        div{
                            height: 2px;
                            width: 80%;
                            background: rgb(122, 122, 122);
                            position: absolute;
                            top: 18px;
                            margin-left: 10%;
                        }
                        input{
                            position: absolute;
                            width: 80%;
                            height: 5px;
                            top: 15px;
                            background: none;
                            margin-left: 10%;
                            pointer-events: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                        }
                        input[type="range"]::-webkit-slider-thumb{
                            height: 17px;
                            width: 17px;
                            border: none;
                            border-radius: 50%;
                            background: white;
                            border-style: solid;
                            border-width: 2px;
                            border-color: #17A2B8;
                            pointer-events: auto;
                            -moz-appearance: none;
                            box-shadow: 0 0 6px rgba(94, 94, 94, 0.35);
                        }
                        input[type="range"]::-moz-range-thumb{
                            height: 17px;
                            width: 17px;
                            border: none;
                            border-radius: 50%;
                            background: white;
                            border-style: solid;
                            border-width: 2px;
                            border-color: #17A2B8;
                            pointer-events: auto;
                            -moz-appearance: none;
                            box-shadow: 0 0 6px rgba(94, 94, 94, 0.35);
                        }
                    }
                        
            
                    .setPriceDiv{
                        display: inline-block;
                        margin-left: 9%;
                        margin-top: 45px;
                        width: 22%;
                        p{
                            font-size: 14px;
                        }
                        div{
                            padding: 6px 0px;
                            border-width: 2px;
                            border-style: solid;
                            border-color: rgb(163, 163, 163);
                            color: rgb(92, 92, 92);
                            border-radius: 10px;
                            margin-top: 10px;
                            font-size: 13px;
                            text-align: center;
                        }
                    }
                    #seprator{
                        display: inline-block;
                        width: 20%;
                        height: 2px;
                        background: rgb(175, 175, 175);
                        margin-left: 10%;
                    }
                    #MaxDiv{
                        margin-left: 10%;
                    }
                    button{
                        width: 84%;
                        margin-left: 9%;
                        border-style: none;
                        margin-top: 20px;
                        background: rgb(0, 162, 255);
                        padding: 8px 12px;
                        border-radius: 15px;
                        font-size: 15px;
                        color: white;
                        cursor: pointer;
                    }
                    button:hover{
                        background:rgb(0, 138, 218);
                        transition: 0.2s;
                    }
                }
                #leftCheckboxDiv{
                    width: 220px;
                    display: block;
                    height: 250px;
                    background: rgb(241, 241, 241);
                    margin-left: 5%;
                    border-radius: $radius;
                    font-family: Nunito;
                    position: absolute;
                    margin-top: 260px;
                    h1{
                        width: 100%;
                        text-align: center;
                        padding: 10px 0px;
                        border-bottom-style: solid ;
                        border-bottom-color: rgb(197, 197, 197) ;
                        border-bottom-width: 1px;
                        font-size: 18px;
                        font-family: Nimbus;
                    }
                    div{
                        input{
                            width: 16px;
                            height: 16px;
                            border-radius: 25px;
                            cursor: pointer;
                            top: 2px;
                            margin-left: 20px;
                            margin-top: 20px;
                            display: inline-block;
            
                        }
                        label{
                            margin-left: 0px;
                            display: inline-block;
                            width: 80%;
                            font-size: 14px;
                            p{
                                display: inline-block;
                                float: right;
                                margin-right: 30px;
                                background: rgb(0, 162, 255);
                                padding: 3px 6px;
                                margin-top: -8px;
                                border-radius: 20px;
                                color: white;
                            }
                        }
                    }
                }
                #leftRatingDiv{
                    width: 220px;
                    display: block;
                    height: 220px;
                    background: rgb(241, 241, 241);
                    margin-left: 5%;
                    border-radius: $radius;
                    font-family: Nunito;
                    position: absolute;
                    margin-top: 530px;
                    h1{
                        width: 100%;
                        text-align: center;
                        padding: 10px 0px;
                        border-bottom-style: solid ;
                        border-bottom-color: rgb(197, 197, 197) ;
                        border-bottom-width: 1px;
                        font-size: 18px;
                        font-family: Nimbus;
                    }
                    .rateStars{
                        display: block;
                        input{
                            width: 16px;
                            height: 16px;
                            border-radius: 25px;
                            cursor: pointer;
                            top: 2px;
                            margin-left: 20px;
                            margin-top: 20px;
                            display: inline-block;
                        }
                        label{
                            margin-left: 0px;
                            display: inline-block;
                            width: 80%;
                            font-size: 14px;
                            span{
                                margin-left: 4px;
                                font-size: 20px;
                                color: rgb(148, 209, 245);
                            }
                            .checked{
                                color: rgb(0, 162, 255);
                            }
                        }
                    }
                }
            }
            #mobileMenu {
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                scrollbar-width: none;  /* Firefox */
            }
            #mobileMenu::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }
            #hidder{
                width: 40%;
                height: 100%;
                background: rgb(214, 214, 214);
                position: fixed;
                top: 0px;
                transition: 0.4s;
            }
        }
    }  

    #poshanande{
        position: fixed;
        z-index: 100;
        width: 100%;
        left: 0px;
        height: 100%;
        bottom: 0px;
        background: rgb(185, 185, 185);
        opacity: 0.5;
    }
    #sortMenu{
        position: fixed;
        z-index: 100;
        width: 100%;
        left: 0px;
        bottom: 0px;
        height: 250px;
        background: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        font-size: 20px;
        bottom: -250px;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        i{
            display: inline-block;
            margin-left: 5%;
            margin-top: 20px;
            font-size: 30px;
        }
        p{
            display: inline-block;
            margin-left: 20px;
            font-weight: bold;
            i{
                float: right;
                margin: 0px 5%;
            }
        }
        .optionM{
            display: block;
            margin-top: 25px;
            padding-bottom: 15px;
            width: 90%;
            border-bottom-color: rgb(203, 203, 203);
            border-bottom-width: 1px;
            font-weight: 100;
            border-style: solid;
        }
    }

    .justMobileMenu{
        $radius:10px;
        z-index: 120;
        #mobileMMenu{
            width: 40%;
            min-width: 250px;
            height: 100%;
            background:white;
            position: fixed;
            top: 0px;
            overflow-y: scroll;
            left: 100%;
            transition-duration: 0.5s;
            transition-timing-function: ease;
            .closeMenu{
                z-index: 10;
                width: 30px;
                height: 30px;
                position: absolute;
                margin-left: 5%;
                margin-top: 15px;
                i{
                    color: rgb(59, 59, 59);
                    font-size: 20px;
                }
            }

            #bottomLeftMainDiv{
                display: block;
                width: 100%;
                height: 220px;
                background:white;
                margin-left: 0%;
                margin-top: 20px;
                border-radius: $radius;
                font-family: Nunito;
                position: absolute;
        
                h1{
                    width: 90%;
                    text-align:left;
                    margin-left: 5%;
                    padding: 10px 0px;
                    border-bottom-style: solid ;
                    border-bottom-color: rgb(197, 197, 197) ;
                    border-bottom-width: 1px;
                    font-size: 18px;
                    font-family: Nimbus;
                    i{
                        float: right;
                        margin-right: 5%;
                        font-weight: 100;
                    }
                }
        
                .range-input{
                    position: relative;
                    margin-top: 5px;
                    div{
                        height: 2px;
                        width: 80%;
                        background: rgb(122, 122, 122);
                        position: absolute;
                        top: 18px;
                        margin-left: 10%;
                    }
                    input{
                        position: absolute;
                        width: 80%;
                        height: 5px;
                        top: 15px;
                        background: none;
                        margin-left: 10%;
                        pointer-events: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                    }
                    input[type="range"]::-webkit-slider-thumb{
                        height: 17px;
                        width: 17px;
                        border: none;
                        border-radius: 50%;
                        background: white;
                        border-style: solid;
                        border-width: 2px;
                        border-color: #17A2B8;
                        pointer-events: auto;
                        -moz-appearance: none;
                        box-shadow: 0 0 6px rgba(94, 94, 94, 0.35);
                    }
                    input[type="range"]::-moz-range-thumb{
                        height: 17px;
                        width: 17px;
                        border: none;
                        border-radius: 50%;
                        background: white;
                        border-style: solid;
                        border-width: 2px;
                        border-color: #17A2B8;
                        pointer-events: auto;
                        -moz-appearance: none;
                        box-shadow: 0 0 6px rgba(94, 94, 94, 0.35);
                    }
                }
                    
        
                .setPriceDiv{
                    display: inline-block;
                    margin-left: 9%;
                    margin-top: 45px;
                    width: 22%;
                    p{
                        font-size: 14px;
                    }
                    div{
                        padding: 6px 0px;
                        border-width: 2px;
                        border-style: solid;
                        border-color: rgb(163, 163, 163);
                        color: rgb(92, 92, 92);
                        border-radius: 10px;
                        margin-top: 10px;
                        font-size: 13px;
                        text-align: center;
                    }
                }
                #seprator{
                    display: inline-block;
                    width: 20%;
                    height: 2px;
                    background: rgb(175, 175, 175);
                    margin-left: 10%;
                }
                #MaxDiv{
                    margin-left: 10%;
                }
                button{
                    width: 84%;
                    margin-left: 9%;
                    border-style: none;
                    margin-top: 20px;
                    background: rgb(0, 162, 255);
                    padding: 8px 12px;
                    border-radius: 15px;
                    font-size: 15px;
                    color: white;
                    cursor: pointer;
                }
                button:hover{
                    background:rgb(0, 138, 218);
                    transition: 0.2s;
                }
            }
            #leftCheckboxDiv{
                width: 90%;
                display: block;
                height: 250px;
                background:white;
                margin-left: 5%;
                border-radius: $radius;
                font-family: Nunito;
                position: absolute;
                margin-top: 260px;
                h1{
                    width: 100%;
                    text-align: left;
                    padding: 10px 0px;
                    border-bottom-style: solid ;
                    border-bottom-color: rgb(197, 197, 197) ;
                    border-bottom-width: 1px;
                    font-size: 18px;
                    font-family: Nimbus;
                    i{
                        float: right;
                        margin-right: 5%;
                        font-weight: 100;
                    }
                }
                div{
                    input{
                        width: 16px;
                        height: 16px;
                        border-radius: 25px;
                        cursor: pointer;
                        top: 2px;
                        margin-left: 20px;
                        margin-top: 20px;
                        display: inline-block;
        
                    }
                    label{
                        margin-left: 0px;
                        display: inline-block;
                        width: 80%;
                        font-size: 14px;
                        p{
                            display: inline-block;
                            float: right;
                            margin-right: 30px;
                            background: rgb(0, 162, 255);
                            padding: 3px 6px;
                            margin-top: -8px;
                            border-radius: 20px;
                            color: white;
                        }
                    }
                }
            }
            #leftRatingDiv{
                width: 90%;
                display: block;
                height: 220px;
                background:white;

                margin-left: 5%;
                border-radius: $radius;
                font-family: Nunito;
                position: absolute;
                margin-top: 530px;
                h1{
                    width: 100%;
                    text-align: left;
                    padding: 10px 0px;
                    border-bottom-style: solid ;
                    border-bottom-color: rgb(197, 197, 197) ;
                    border-bottom-width: 1px;
                    font-size: 18px;
                    font-family: Nimbus;
                    i{
                        float: right;
                        margin-right: 5%;
                        font-weight: 100;
                    }
                }
                .rateStars{
                    display: block;
                    input{
                        width: 16px;
                        height: 16px;
                        border-radius: 25px;
                        cursor: pointer;
                        top: 2px;
                        margin-left: 20px;
                        margin-top: 20px;
                        display: inline-block;
                    }
                    label{
                        margin-left: 0px;
                        display: inline-block;
                        width: 80%;
                        font-size: 14px;
                        span{
                            margin-left: 4px;
                            font-size: 20px;
                            color: rgb(148, 209, 245);
                        }
                        .checked{
                            color: rgb(0, 162, 255);
                        }
                    }
                }
            }
        }
        #mobileMMenu {
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */
        }
        #mobileMMenu::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }
    }
    #hidder{
        width: 100%;
        height: 100%;
        background: rgb(214, 214, 214);
        position: fixed;
        top: 0px;
        transition: 0.4s;
        opacity: 0.5;
    }
    .JD{
        display: none;
    }
}

@media only screen and (max-device-width:600px) {
    #mainDiv{
        #Mobile{
            .mobileBox{
                #mobileRightBox{
                    .mobileTitle{
                        margin-top: 10px;
                    }
                    .mobilePrice{
                        margin-top: 30px;
                    }
                    span{
                        margin-top: 30px;

                    }
                    .archive{
                        margin-top: 30px;

                    }
                }
            }
        }
    }
}

@media only screen and (max-device-width:490px) {
    #mainDiv{
        #Mobile{
            .mobileBox{
                #mobileRightBox{
                    .mobileTitle{
                        font-size: 23px;
                        margin-top: 10px;
                    }
                    .mobilePrice{
                        margin-top: 20px;
                        font-size: 16px;
                    }
                    span{
                        margin-top: 20px;
                        font-size: 14px;
                    }
                    .archive{
                        margin-top: 20px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-device-width:400px) {
    #mainDiv{
        #Mobile{
            .mobileBox{
                #mobileRightBox{
                    .mobileTitle{
                        font-size: 15px;
                        margin-top: 5px;
                    }
                    .mobilePrice{
                        margin-top: 18px;
                        font-size: 14px;
                        position: relative;
                    }
                    span{
                        margin-top: 18px;
                        font-size: 12px;
                    }
                    .archive{
                        margin-top: 18px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-device-width:300px) {
    #mainDiv{
        #Mobile{
            .mobileBox{
                #mobileRightBox{
                    .mobileTitle{
                        font-size: 15px;
                        margin-top: 5px;
                    }
                    .mobilePrice{
                        margin-top: 15px;
                        font-size: 12px;
                    }
                    span{
                        margin-top: 15px;
                        font-size: 11px;
                    }
                    .archive{
                        margin-top: 15px;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}