@font-face {
    font-family: Nimbus;
    src: url('../Main/Nunito.ttf');
}

@media only screen and (min-device-width:769px) {
    #productDiv{
        width: 100%;
        min-width: 1536px;
        #innerPDiv{
            width: 90%;
            margin-left: 5%;
            #selectImageBox{
                width: 100px;
                display: inline-block;
                .PImage{
                    width: 100%;
                    height: 100%;
                    margin-top: 20px;
                    border-radius: 20px;
                    img{
                        width: 40px;
                        height: 80px;
                        margin: 10px 30px;
                    }
                }
                .PImage:hover {
                    background: rgb(245, 245, 245);
                    transition: 0.2s;
                }
                .PImage1{
                    background: rgb(245, 245, 245);
                }
            }
            #bigPImage{
                display: inline-block;
                width: 170px;
                height: 340px;
                margin-left: 100px;
    
            }
            #PDescription{
                display: inline-block;
                margin-left: 200px;
                width: 800px;
                margin-top: 50px;
                h1{
                    font-size: 70px;
                    font-family: Nimbus;
                    font-weight: 100;
                }
                p{
                    font-family: Nimbus;
                    font-size: 18px;
                    margin-top: 40px;
                }
                #storage{
                    margin-top: 50px;
                    h2{
                        font-family: Nimbus;
                        font-size: 22px;
                        font-weight: 800;
                    }
                    .PStorages{
                        font-family: Nimbus;
                        display: inline-block;
                        padding: 12px 10px;
                        border-width: 3px;
                        border-style: solid;
                        border-color: rgb(167, 167, 167);
                        color: rgb(167, 167, 167);
                        margin-left: 20px;
                        margin-top: 20px;
                        border-radius: 10px;
                    }
                    .PStorages:hover{
                        color: rgb(0, 162, 255);
                        border-color: rgb(0, 162, 255);
                        cursor: pointer;
                        transition: 0.2s;
                    }
                    .PStorages1{
                        color: rgb(0, 162, 255);
                        border-color: rgb(0, 162, 255);
                    }
                    #selectStorageBox{
                        margin-left: -20px;
                    }
                }
                #PPrice{
                    display: inline-block;
                    font-family: Nimbus;
                    font-size: 30px;
                    font-weight: bolder;
                }
                #AddButton{
                    margin-top: 40px;
                    background: rgb(0, 162, 255);
                    color: white;
                    padding: 20px 30px;
                    border-style: none;
                    border-radius: 20px;
                    font-size: 22px;
                    display: inline-block;
                    margin-left: 30px;
                }
                button:hover{
                    background: rgb(0, 140, 221);
                    cursor: pointer;
                    transition: 0.2s;
                }
            }
        }
    }
    .JM{
        display: none;
    }
}

@media only screen and (max-device-width:768px) {
    #productDiv{
        width: 100%;
        overflow: hidden;
        #innerPDiv{
            #selectImageBox{
                background: rgb(244, 244, 244);
                width: 100%;
                height: 530px;
                position: absolute;
                z-index: 1;
                margin-top: 0px;
                
                #SIB{
                    margin-top: 60px;
                }
                .PImage{
                    width: 80px;
                    height: 80px;
                    margin-top: 20px;
                    border-radius: 20px;
                    margin-left: 75%;
                    z-index: 22;
                    img{
                        height: 55px;
                        margin: 10px 27px;
                    }
                }
                .PImage:hover {
                    background: rgb(231, 231, 231);
                    transition: 0.2s;
                }
                .PImage1{
                    background: rgb(231, 231, 231);
                }
            }
            #bigPImage{
                
                display: inline-block;
                position: absolute;
                height: 400px;
                z-index: 2;
                margin-left: 10%;
                margin-top: 50px;
            }
            #PDescription{
                display: inline-block;
                margin-top: 580px;
                margin-left: 6%;
                width: 88%;
                h1{
                    font-size: 30px;
                    font-family: Nimbus;
                    font-weight: bolder;
                    width: 70%;
                }
                p{
                    font-family: Nimbus;
                    font-size: 15px;
                    margin-top: 100px;
                    position: absolute;
                    width: 88%;
                    height: 250px;
                    
                }
                #storage{
                    margin-top: 30px;
                    width: 100%;
                    h2{
                        display: none;
                    }
                    .PStorages{
                        font-family: Nimbus;
                        display: inline-block;
                        padding: 10px 8px;
                        border-width: 2px;
                        border-style: solid;
                        border-color: rgb(167, 167, 167);
                        color: rgb(167, 167, 167);
                        margin-left: 20px;
                        margin-top: 0px;
                        border-radius: 10px;
                        transition: 0.2s;
                    }
                    .PStorages:hover{
                        background: rgb(0, 162, 255);
                        border-color: rgb(0, 162, 255);
                        cursor: pointer;
                        transition: 0.2s;
                    }
                    .PStorages1{
                        background: rgb(0, 162, 255);
                        border-color: rgb(0, 162, 255);
                        color: white;
                    }
                    #selectStorageBox{
                        margin-left: -20px;
                    }
                }
                #PPrice{
                    font-family: Nimbus;
                    font-size: 25px;
                    font-weight: 500;
                    display: inline-block;
                    margin-top: 50px;
                    position: absolute;
                    top:590px;
                    margin-left: 70%;
                    width: 15%;
                    padding: 5px 10px;
                }
            }
            #addToCart{
                position: fixed;
            }
        }
        #AddButton{
            top: 87%;
            width: 88%;
            padding: 17px 0px;
            border-style: none;
            background: rgb(0, 162, 255);
            color: white;
            font-size: 20px;
            position: fixed;
            z-index: 13;
            border-radius: 20px;
            box-shadow: 0 0 12px 12px white;

        }
    }
    .JD{
        display: none;
    }
}