@font-face {
  font-family: Nimbus;
  src: url("../Main/Nunito.ttf");
}
@media only screen and (min-device-width: 769px) {
  #productDiv {
    width: 100%;
    min-width: 1536px;
  }
  #productDiv #innerPDiv {
    width: 90%;
    margin-left: 5%;
  }
  #productDiv #innerPDiv #selectImageBox {
    width: 100px;
    display: inline-block;
  }
  #productDiv #innerPDiv #selectImageBox .PImage {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border-radius: 20px;
  }
  #productDiv #innerPDiv #selectImageBox .PImage img {
    width: 40px;
    height: 80px;
    margin: 10px 30px;
  }
  #productDiv #innerPDiv #selectImageBox .PImage:hover {
    background: whitesmoke;
    transition: 0.2s;
  }
  #productDiv #innerPDiv #selectImageBox .PImage1 {
    background: whitesmoke;
  }
  #productDiv #innerPDiv #bigPImage {
    display: inline-block;
    width: 170px;
    height: 340px;
    margin-left: 100px;
  }
  #productDiv #innerPDiv #PDescription {
    display: inline-block;
    margin-left: 200px;
    width: 800px;
    margin-top: 50px;
  }
  #productDiv #innerPDiv #PDescription h1 {
    font-size: 70px;
    font-family: Nimbus;
    font-weight: 100;
  }
  #productDiv #innerPDiv #PDescription p {
    font-family: Nimbus;
    font-size: 18px;
    margin-top: 40px;
  }
  #productDiv #innerPDiv #PDescription #storage {
    margin-top: 50px;
  }
  #productDiv #innerPDiv #PDescription #storage h2 {
    font-family: Nimbus;
    font-size: 22px;
    font-weight: 800;
  }
  #productDiv #innerPDiv #PDescription #storage .PStorages {
    font-family: Nimbus;
    display: inline-block;
    padding: 12px 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #a7a7a7;
    color: #a7a7a7;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  #productDiv #innerPDiv #PDescription #storage .PStorages:hover {
    color: #00a2ff;
    border-color: #00a2ff;
    cursor: pointer;
    transition: 0.2s;
  }
  #productDiv #innerPDiv #PDescription #storage .PStorages1 {
    color: #00a2ff;
    border-color: #00a2ff;
  }
  #productDiv #innerPDiv #PDescription #storage #selectStorageBox {
    margin-left: -20px;
  }
  #productDiv #innerPDiv #PDescription #PPrice {
    display: inline-block;
    font-family: Nimbus;
    font-size: 30px;
    font-weight: bolder;
  }
  #productDiv #innerPDiv #PDescription button {
    margin-top: 40px;
    background: #00a2ff;
    color: white;
    padding: 20px 30px;
    border-style: none;
    border-radius: 20px;
    font-size: 22px;
    display: inline-block;
    margin-left: 30px;
  }
  #productDiv #innerPDiv #PDescription button:hover {
    background: #008cdd;
    cursor: pointer;
    transition: 0.2s;
  }

  .JM {
    display: none;
  }
}
@media only screen and (max-device-width: 768px) {
  #productDiv {
    width: 100%;
    overflow: hidden;
  }
  #productDiv #innerPDiv #selectImageBox {
    background: #f4f4f4;
    width: 100%;
    height: 530px;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
  }
  #productDiv #innerPDiv #selectImageBox #SIB {
    margin-top: 60px;
  }
  #productDiv #innerPDiv #selectImageBox .PImage {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 75%;
  }
  #productDiv #innerPDiv #selectImageBox .PImage img {
    height: 55px;
    margin: 10px 27px;
  }
  #productDiv #innerPDiv #selectImageBox .PImage:hover {
    background: #e7e7e7;
    transition: 0.2s;
  }
  #productDiv #innerPDiv #selectImageBox .PImage1 {
    background: #e7e7e7;
  }
  #productDiv #innerPDiv #bigPImage {
    display: inline-block;
    position: absolute;
    height: 400px;
    z-index: 2;
    margin-left: 10%;
    margin-top: 70px;
  }
  #productDiv #innerPDiv #PDescription {
    display: inline-block;
    margin-top: 580px;
    margin-left: 6%;
    width: 88%;
  }
  #productDiv #innerPDiv #PDescription h1 {
    font-size: 30px;
    font-family: Nimbus;
    font-weight: bolder;
    width: 70%;
  }
  #productDiv #innerPDiv #PDescription p {
    font-family: Nimbus;
    font-size: 15px;
    margin-top: 100px;
    position: absolute;
    width: 88%;
    height: 250px;
  }
  #productDiv #innerPDiv #PDescription #storage {
    margin-top: 30px;
    width: 100%;
  }
  #productDiv #innerPDiv #PDescription #storage h2 {
    display: none;
  }
  #productDiv #innerPDiv #PDescription #storage .PStorages {
    font-family: Nimbus;
    display: inline-block;
    padding: 10px 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #a7a7a7;
    color: #a7a7a7;
    margin-left: 20px;
    margin-top: 0px;
    border-radius: 10px;
    transition: 0.2s;
  }
  #productDiv #innerPDiv #PDescription #storage .PStorages:hover {
    background: #00a2ff;
    border-color: #00a2ff;
    cursor: pointer;
    transition: 0.2s;
  }
  #productDiv #innerPDiv #PDescription #storage .PStorages1 {
    background: #00a2ff;
    border-color: #00a2ff;
    color: white;
  }
  #productDiv #innerPDiv #PDescription #storage #selectStorageBox {
    margin-left: -20px;
  }
  #productDiv #innerPDiv #PDescription #PPrice {
    font-family: Nimbus;
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
    margin-top: 50px;
    position: absolute;
    top: 570px;
    margin-left: 70%;
    width: 15%;
    padding: 5px 10px;
  }
  #productDiv #innerPDiv #addToCart {
    position: fixed;
  }
  #productDiv #AddButton {
    top: 87%;
    margin-left: 6%;
    width: 88%;
    padding: 17px 0px;
    border-style: none;
    background: #00a2ff;
    color: white;
    font-size: 20px;
    position: fixed;
    z-index: 13;
    border-radius: 20px;
    box-shadow: 0 0 12px 12px white;
  }

  .JD {
    display: none;
  }
}

/*# sourceMappingURL=product.css.map */
